// global css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    overflow: hidden;
}
// helper class
.w-40px{
    width: 40px;
}
.h-40px{
    height: 40px;
}

// sub-menu-header width
.w-20px{
    width: 20px;
}
.h-20px{
    height: 20px;
}